body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #151515;
  margin: 0;
}

a {
  color: inherit;
}

.container {
  max-width: 1390px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1920px;
}

.lock {
  overflow: hidden;
}

.logo {
  position: relative;
  z-index: 6;
}

.rutube {
  width: 50px;
  height: 50px;
}

@media (max-width: 576px) {
  .rutube {
    width: 40px;
    height: 40px;
  }
}

.rutube img {
  width: 50px;
  height: 50px;
}

@media (max-width: 576px) {
  .rutube img {
    width: 40px;
    height: 40px;
  }
}

.rulink {
  display: none;
}

@media (max-width: 768px) {
  .rulink {
    display: block;
  }
}

.header {
  position: fixed;
  width: 100%;
  background: #fff;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #0d0d0d;
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}

.burger__menu {
  width: 33px;
  position: relative;
  display: none;
  z-index: 1000;
  cursor: pointer;
}

@media (max-width: 768px) {
  .burger__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.burger__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 85px;
  gap: 40px;
  font-weight: 400;
  z-index: 5;
  overflow: none;
}

.hero {
  color: #fff;
  background-image: url(../images/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-top: 90px;
}

.hero__title {
  font-weight: 600;
  font-size: 60px;
  line-height: 90px;
  text-align: center;
  max-width: 1130px;
  margin: 0 auto;
  margin-top: 160px;
  margin-bottom: 200px;
}

@media (max-width: 768px) {
  .hero__title {
    font-size: 46px;
    line-height: 60px;
    margin-top: 130px;
    margin-bottom: 120px;
  }
}

@media (max-width: 576px) {
  .hero__title {
    font-size: 32px;
    line-height: 40px;
    margin-top: 70px;
    margin-bottom: 70px;
  }
}

@media (max-width: 375px) {
  .hero__title {
    font-size: 25px;
    line-height: 32px;
    margin-top: 56px;
    margin-bottom: 53px;
  }
}

.hero__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .hero__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 375px) {
  .hero__links {
    gap: 8px;
  }
}

.hero__number {
  font-weight: 500;
  font-size: 33px;
  line-height: 150%;
}

.hero__number span {
  color: #929292;
}

@media (max-width: 375px) {
  .hero__number {
    font-size: 19px;
  }
}

.hero__mail {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.hero__mail img {
  width: 20px;
}

@media (max-width: 375px) {
  .hero__mail {
    font-size: 14px;
    gap: 10px;
  }
}

.hero__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -60px auto 0;
  padding-bottom: 90px;
  width: 73px;
}

@media (max-width: 375px) {
  .hero__arrow img {
    width: 40px;
  }
}

@media (max-width: 768px) {
  .hero__arrow {
    margin-top: 20px;
  }
}

@media (max-width: 375px) {
  .hero__arrow {
    width: 40px;
    padding-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */