// VARS

$pink: #f41240

// USER STYLES

body
  font-family: 'Montserrat', sans-serif
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #151515
  margin: 0

a
  color: inherit

.container
  max-width: 1390px
  padding: 0 15px
  margin: 0 auto

.container-fluid
  max-width: 1920px
  margin: 0 auto

.lock
  overflow: hidden



// HEADER

.header
  position: fixed
  width: 100%
  background: #fff
  z-index: 5
  // .header__nav
  &__nav
    display: flex
    justify-content: space-between
    align-items: center
    padding: 20px 0

.burger
  // .burger__menu
  &__menu


.logo
  position: relative
  z-index: 6
  transition: .4s all
  &:hover
    svg g path
        transition: .4s all
        fill: $pink

.nav
  display: flex
  gap: 30px
  font-weight: 500
  line-height: 24px
  letter-spacing: 0.02em
  color: #0d0d0d
  @media (max-width : 768px)
    display: none
  // .nav__link
  &__link
    transition: .4s all
    &:hover
      color: $pink


.rulink
  display: none
  @media (max-width : 768px)
    display: block

.rutube
  width: 50px
  height: 50px
  @media (max-width : 576px)
    width: 40px
    height: 40px
  img
    width: 50px
    height: 50px
    @media (max-width : 576px)
      width: 40px
      height: 40px


.burger__menu
  width: 33px
  position: relative
  display: none
  z-index: 1000
  cursor: pointer
  @media (max-width : 768px)
    display: flex

.burger__active
  display: flex
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100vh
  background: #fff
  flex-direction: column
  text-align: center
  padding-top: 85px
  gap: 40px
  font-weight: 400
  z-index: 5
  overflow: none

// HERO

.hero
  color: #fff
  background-image: url(../images/hero/hero-bg.jpg)
  background-repeat: no-repeat
  background-size: cover //contain
  background-position: top
  padding-top: 90px
  // .hero__title
  &__title
    font-weight: 600
    font-size: 60px
    line-height: 90px
    text-align: center
    max-width: 1130px
    margin: 0 auto
    margin-top: 160px
    margin-bottom: 200px
    @media (max-width : 768px)
      font-size: 46px
      line-height: 60px
      margin-top: 130px
      margin-bottom: 120px
    @media (max-width : 576px)
      font-size: 32px
      line-height: 40px
      margin-top: 70px
      margin-bottom: 70px
    @media (max-width : 375px)
      font-size: 25px
      line-height: 32px
      margin-top: 56px
      margin-bottom: 53px
  // .hero__links
  &__links
    display: flex
    justify-content: space-between
    align-items: center
    @media (max-width : 768px)
      flex-direction: column
    @media (max-width : 375px)
      gap: 8px
  // .hero__number
  &__number
    font-weight: 500
    font-size: 33px
    line-height: 150%
    span
      color: #929292
    @media (max-width : 375px)
      font-size: 19px
  // .hero__mail
  &__mail
    font-weight: 500
    font-size: 18px
    line-height: 150%
    display: flex
    align-items: center
    gap: 12px
    transition: .4s all
    &:hover
      color: #dc0000
    img
      width: 20px
    @media (max-width : 375px)
      font-size: 14px
      gap: 10px
  // .hero__arrow
  &__arrow
    display: flex
    justify-content: center
    margin: -60px auto 0
    padding-bottom: 90px
    width: 73px
    svg
      &:hover
        path
          stroke-width: 5
      transition: .4s all
      @media (max-width : 375px)
        width: 40px
    @media (max-width : 768px)
      margin-top: 20px
    @media (max-width : 375px)
      width: 40px
      padding-bottom: 30px


// VIDEO

.video
  color: #151515
  &__lenta
    max-width: 100%
    @media (max-width : 768px)
      max-width: 150%
    @media (max-width : 576px)
      max-width: 250%

.title__h2
  font-size: 18px
  line-height: 150%
  letter-spacing: 0.5em
  padding: 100px 0 70px
  text-align: center
  @media (max-width : 768px)
    padding: 70px 0 50px
  @media (max-width : 375px)
    padding: 40px 0 25px

.slider
  display: flex
  flex-direction: column
  // .slider__block
  &__block
    width: 845px
    margin: 0 25px
    border-radius: 10px
  // .slider__img
  &__img
    img
      max-width: 100%
      transition: .3s ease
      &:hover
        transform: scale(110%)
        margin-bottom: -60px
        box-shadow: inset 0px -41px 10px 0px
        opacity: 0.5
  // .slider__desc
  &__desc
    position: relative
    z-index: 2
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 20px
    
  // .slider__link
  &__link
    display: flex
    align-items: center
    gap: 25px
    font-size: 26px
    line-height: 150%
    @media (max-width : 992px)
      font-size: 20px
      gap: 10px
    @media (max-width : 375px)
      font-size: 16px
    svg
      width: 16px
      height: 16px
      @media (max-width : 375px)
        width: 9px
        height: 9px
  // .slider__rutube
  &__rutube
    img
      width: 50px
      height: 50px
      @media (max-width : 992px)
        width: 40px
        height: 40px
      @media (max-width : 375px)
        width: 30px
        height: 30px


.slider__arrows
  display: flex
  justify-content: space-between
  margin: 0 auto
  width: 300px

.slider__arrows-prev
  max-width: 40px
  cursor: pointer
  img
    width: 40px

.slider__arrows-next
  cursor: pointer
  img
    width: 40px

.slick-dots
  display: flex
  justify-content: space-between
  width: 170px
  margin: 60px auto -26px
  transition: .3s all
  .slick-active
    button
      transition: .4s ease
      background: #dc0000
      border: 1px solid #dc0000
  li button
    width: 20px
    height: 20px
    border-radius: 50px
    border: 1px solid #828282
    background: #fff
    font-size: 0













